*{
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  margin:0;
  padding:0;
 }
 body,html,.wrapper{
 	min-height: 100%;
 }
body{
	font-family: 'roboto',sans-serif;
	font-weight: 400;
	
	margin:0;
	background-color:#dbdbdb;
	text-align: center;
	padding:0;
	
}
.content h1{
	text-align: center;
	margin:0;
	position:relative;
	left:50px;
}
.wrapper{
margin: 0 auto;
width:100%;

	
}
@media screen and (min-width:760px){
	.content{
	position:relative;
    height:800px;
    margin:0 auto;
    left:50px;
	text-align: center;
	}
}
.content{
	
	background-image: url("../images/coffeeshop.png");
	background-repeat: no-repeat;	
	position:relative;
	left:-110px;
	width:500px;
	height:800px;
}


.cloud1{
	position:absolute;
	top:60px;
	left:-150px;
	z-index:5;
}
.cloud3{
	position:absolute;
	top:25px;
	left:-100px;
	z-index: 3;

}
.penguin{
	position:absolute;
	top:610px;
	left:230px;
	z-index:19;

}
.penguin img{
	width:100px;
	height:100px;
}
img {
	width:150px;
	height:150px;
}